[defaults]
inventory = inventories/local/hosts.yaml
local_tmp = tmp
remote_tmp = /tmp/ansible-rtaigfs-${USER}
result_format = yaml
retry_files_enabled = False
roles_path = roles
stdout_callback = default

[connection]
pipelining = True
